#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* width: 100%; */
}

body {
  background: url(./images/maciek-sulkowski-gmejHJ6k-VY-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #eee;
  background-position: absolute;
}


/* h1 {
  color: #eee;
} */

/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

button {
  margin: 10px;
}


.components {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.component-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45em;

}

.WindowResizer {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.white-background {
  background-color: #eee;
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.section {
  border: 1px solid black;
}

.NavBar {
  background: #0E2F38;
  color: #eee;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.NavBar ul li a {
  padding: 1em;
  color: #eee;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 20px;
}

.tasks {
  /* display: inline block; */
  list-style-type: none;
  text-align: center;
  padding-left: 0px;


}

.tasks li {

  font-size: 1.5em;
  color: #eee;


}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: auto;
  background-color: #0E2F38;
  color: #eee;
}

/* .studentList {
  background-color: #eeeeee66;
  list-style-type: none;
  padding-left: 0;

} */

.wrapper {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 50vw;
}

.item {
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.item:hover {
  background-color: #f0ebf1;
}

.title {
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 100vh;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* .student-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
} */